run = "python3 bot.py"

modules = ["python-3.12"]

[nix]
channel = "stable-24_05"
packages = [
  "c-ares",
  "cacert",
  "glibcLocales",
  "grpc",
  "libxcrypt",
  "openssl",
  "pkg-config",
  "zlib",
]
